body{
	margin-bottom:80px;
}
.containerCarousel{
	margin: 0 auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row{
	border: 2px solid darkred;
	border-radius: 10px;
	background: #ccc;
}